#idea_title_characters,
#idea_body_characters{
  // We have a customized version of the character counter.
  display: none;
}

.idea-form-container{
  margin-top: 2rem;

  .mentions__container,
  .hashtags__container{
    span.form-error{
      color: $input-error-color;
    }
  }

  .field-info{
    padding: $input-padding 0;

    &.field-info-with-icon{
      position: relative;
      padding-left: 2rem;

      .icon{
        position: absolute;
        left: 0;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  .field-terms{
    label,
    .field-info{
      display: inline-block;
    }

    label{
      margin-right: 2rem;
    }
  }

  .attachment-button{
    .button,
    .attachment-added{
      display: inline-block;
    }

    .attachment-added{
      position: relative;
      top: -7px;
    }

    .attachment-fields{
      display: none;
    }
  }
}
