<%= decidim_form_for(@form, builder: idea_form_builder, html: { class: "form new_idea_idea_form_admin" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
