<div class="cards-list">
  <%= render @ideas %>
</div>

<% if @ideas.empty? %>
  <div class="row columns">
    <div class="callout secondary">
      <% if params[:filter].present? %>
        <p><%= t(".empty_filters") %></p>
      <% else %>
        <p><%= t(".empty") %></p>
      <% end %>
    </div>
  </div>
<% end %>
<%= decidim_paginate @ideas %>
