<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header", locals: { callout_step_help_text_class: "warning" } %>

    <% if @similar_ideas.presence %>
      <div class="row small-up-1 card-grid">
        <% @similar_ideas.each do |idea| %>
          <%= render partial: "idea_similar", locals: { idea: idea } %>
        <% end %>
      </div>
    <% end %>

    <div class="row column text-center">
      <%= link_to t(".continue"), complete_idea_path(@idea), class: "button small" %>
    </div>
  </div>

  <div class="columns large-3"></div>
</div>
